*
{
  font-family: 'Oxygen', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00A4EF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar
{
  background-color: #7FBA00;
  border-bottom: #FFB900 solid 3px;
}
.navbar-brand
{
  color: white !important;
  font-weight: 900;
  font-size: 20px;
  

}


#logout
{
  font-weight: 900;
  font-size: 16px;
  color: white;
  float: right;
  padding-right: 5%;
  
}

#pageTitle
{
  margin-top: 5%;
  /* display: flex;
  justify-content: center; */
}

#ctBtn
{
  margin-top: 5%;  
  margin-left: 40%;
  width: 20%;
  background-color: #7FBA00;
  color: white;
  border-radius: .25rem;
  border: solid 2px white;
}

#usertext
{
  margin-top: 30%;
}